In [45]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [46]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [47]:
# Preprocess the data
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [48]:
# Encode categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [49]:
# one-hot encode Geography
onehot_encoder_geo=OneHotEncoder(handle_unknown='ignore')
geo_encoded=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out())
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [50]:
# Combine onehot encoded columns with original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [51]:
# Split the data into features and target
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [52]:
# Split the data intraining & testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [53]:
# Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.fit_transform(X_test)

In [54]:
# Savethe encoder and scalers for later use
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open ('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

ANN Regression Problem Statement

In [55]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [56]:
# Build the model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1) # Output layer of regression
])

# Compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                832

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [57]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

# Set up TensorBoard
log_dir="regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [58]:
# Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [59]:
# Train the model
history= model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback,tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 100366.4844 - mae: 100366.4844 - val_loss: 98475.2266 - val_mae: 98475.2266
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99484.3359 - mae: 99484.3359 - val_loss: 96705.5625 - val_mae: 96705.5625
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 96435.1797 - mae: 96435.1797 - val_loss: 92262.7109 - val_mae: 92262.7109
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 90545.7734 - mae: 90545.7734 - val_loss: 85029.3906 - val_mae: 85029.3906
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 82124.2344 - mae: 82124.2344 - val_loss: 75911.7500 - val_mae: 75911.7500
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 72587.6250 - mae: 72587.6250 - val_loss: 66813.8281 - val_mae: 66813.8281
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 63774.8867 - mae: 63774.8867 - val_loss: 59365.3281 - val_mae: 59365.3281
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 57221.8359 - mae: 57221.8359 - val_loss: 54425.3633 - val_mae: 54425.3633
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 53342.4219 - mae: 53342.4219 - val_loss: 52080.8203 - val_mae: 52080.8203
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 51473.1523 - mae: 51473.1523 - val_loss: 51202.9922 - val_mae: 51202.9922
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 50750.6953 - mae: 50750.6953 - val_loss: 50954.4727 - val_mae: 50954.4727
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 50462.9648 - mae: 50462.9648 - val_loss: 50867.5273 - val_mae: 50867.5273
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 50321.1719 - mae: 50321.1719 - val_loss: 50808.6914 - val_mae: 50808.6914
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 50237.2031 - mae: 50237.2031 - val_loss: 50766.2891 - val_mae: 50766.2891
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 50175.9805 - mae: 50175.9805 - val_loss: 50719.1250 - val_mae: 50719.1250
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 50114.1758 - mae: 50114.1758 - val_loss: 50686.1602 - val_mae: 50686.1602
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 50067.9766 - mae: 50067.9766 - val_loss: 50652.5781 - val_mae: 50652.5781
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 50020.3203 - mae: 50020.3203 - val_loss: 50629.6953 - val_mae: 50629.6953
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 49981.1602 - mae: 49981.1602 - val_loss: 50602.6523 - val_mae: 50602.6523
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 49943.3867 - mae: 49943.3867 - val_loss: 50571.3438 - val_mae: 50571.3438
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 49912.8438 - mae: 49912.8438 - val_loss: 50535.6445 - val_mae: 50535.6445
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 49881.3242 - mae: 49881.3242 - val_loss: 50520.5859 - val_mae: 50520.5859
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 49853.7188 - mae: 49853.7188 - val_loss: 50502.3633 - val_mae: 50502.3633
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 49826.9414 - mae: 49826.9414 - val_loss: 50485.1953 - val_mae: 50485.1953
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 49805.8789 - mae: 49805.8789 - val_loss: 50466.2578 - val_mae: 50466.2578
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49782.1875 - mae: 49782.1875 - val_loss: 50450.6836 - val_mae: 50450.6836
Epoch 27/100
250/250 [==============================] - 1s 2ms/step - loss: 49762.1719 - mae: 49762.1719 - val_loss: 50441.8633 - val_mae: 50441.8633
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 49744.6836 - mae: 49744.6836 - val_loss: 50429.4453 - val_mae: 50429.4453
Epoch 29/100
250/250 [==============================] - 1s 2ms/step - loss: 49725.6289 - mae: 49725.6289 - val_loss: 50428.9922 - val_mae: 50428.9922
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49709.6758 - mae: 49709.6758 - val_loss: 50429.4844 - val_mae: 50429.4844
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49694.4453 - mae: 49694.4453 - val_loss: 50413.6367 - val_mae: 50413.6367
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 49676.3828 - mae: 49676.3828 - val_loss: 50414.8750 - val_mae: 50414.8750
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 49660.8984 - mae: 49660.8984 - val_loss: 50409.5078 - val_mae: 50409.5078
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49647.7734 - mae: 49647.7734 - val_loss: 50407.5664 - val_mae: 50407.5664
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49636.0234 - mae: 49636.0234 - val_loss: 50395.2188 - val_mae: 50395.2188
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 49625.0586 - mae: 49625.0586 - val_loss: 50385.2734 - val_mae: 50385.2734
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 49613.1445 - mae: 49613.1445 - val_loss: 50389.0000 - val_mae: 50389.0000
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 49599.6523 - mae: 49599.6523 - val_loss: 50381.9297 - val_mae: 50381.9297
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49586.8750 - mae: 49586.8750 - val_loss: 50392.6992 - val_mae: 50392.6992
Epoch 40/100
250/250 [==============================] - 1s 2ms/step - loss: 49579.6875 - mae: 49579.6875 - val_loss: 50379.6602 - val_mae: 50379.6602
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49567.9609 - mae: 49567.9609 - val_loss: 50374.2148 - val_mae: 50374.2148
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49558.6055 - mae: 49558.6055 - val_loss: 50373.1523 - val_mae: 50373.1523
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49555.3516 - mae: 49555.3516 - val_loss: 50364.0977 - val_mae: 50364.0977
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49539.9102 - mae: 49539.9102 - val_loss: 50375.3594 - val_mae: 50375.3594
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49533.6016 - mae: 49533.6016 - val_loss: 50372.2734 - val_mae: 50372.2734
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 49529.3281 - mae: 49529.3281 - val_loss: 50366.7383 - val_mae: 50366.7383
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49518.7148 - mae: 49518.7148 - val_loss: 50371.2695 - val_mae: 50371.2695
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 49511.9883 - mae: 49511.9883 - val_loss: 50370.1992 - val_mae: 50370.1992
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 49505.3320 - mae: 49505.3320 - val_loss: 50356.6992 - val_mae: 50356.6992
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 49496.9688 - mae: 49496.9688 - val_loss: 50358.7109 - val_mae: 50358.7109
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 49491.5430 - mae: 49491.5430 - val_loss: 50354.9609 - val_mae: 50354.9609
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 49485.1250 - mae: 49485.1250 - val_loss: 50357.0508 - val_mae: 50357.0508
Epoch 53/100
250/250 [==============================] - 1s 4ms/step - loss: 49480.7344 - mae: 49480.7344 - val_loss: 50352.4141 - val_mae: 50352.4141
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 49472.6250 - mae: 49472.6250 - val_loss: 50351.0977 - val_mae: 50351.0977
Epoch 55/100
250/250 [==============================] - 1s 3ms/step - loss: 49464.9609 - mae: 49464.9609 - val_loss: 50360.1367 - val_mae: 50360.1367
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 49460.1133 - mae: 49460.1133 - val_loss: 50360.3945 - val_mae: 50360.3945
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 49453.4961 - mae: 49453.4961 - val_loss: 50348.5938 - val_mae: 50348.5938
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 49448.6875 - mae: 49448.6875 - val_loss: 50353.8555 - val_mae: 50353.8555
Epoch 59/100
250/250 [==============================] - 1s 3ms/step - loss: 49445.2578 - mae: 49445.2578 - val_loss: 50359.2852 - val_mae: 50359.2852
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 49439.0977 - mae: 49439.0977 - val_loss: 50349.7383 - val_mae: 50349.7383
Epoch 61/100
250/250 [==============================] - 1s 4ms/step - loss: 49430.6172 - mae: 49430.6172 - val_loss: 50341.9375 - val_mae: 50341.9375
Epoch 62/100
250/250 [==============================] - 1s 5ms/step - loss: 49426.3633 - mae: 49426.3633 - val_loss: 50347.0156 - val_mae: 50347.0156
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 49422.7969 - mae: 49422.7969 - val_loss: 50349.9844 - val_mae: 50349.9844
Epoch 64/100
250/250 [==============================] - 1s 3ms/step - loss: 49418.3672 - mae: 49418.3672 - val_loss: 50339.8242 - val_mae: 50339.8242
Epoch 65/100
250/250 [==============================] - 1s 3ms/step - loss: 49415.1680 - mae: 49415.1680 - val_loss: 50357.8125 - val_mae: 50357.8125
Epoch 66/100
250/250 [==============================] - 1s 3ms/step - loss: 49410.4453 - mae: 49410.4453 - val_loss: 50343.1172 - val_mae: 50343.1172
Epoch 67/100
250/250 [==============================] - 1s 4ms/step - loss: 49405.5156 - mae: 49405.5156 - val_loss: 50342.1797 - val_mae: 50342.1797
Epoch 68/100
250/250 [==============================] - 1s 3ms/step - loss: 49401.2109 - mae: 49401.2109 - val_loss: 50354.2031 - val_mae: 50354.2031
Epoch 69/100
250/250 [==============================] - 1s 3ms/step - loss: 49399.3867 - mae: 49399.3867 - val_loss: 50345.1797 - val_mae: 50345.1797
Epoch 70/100
250/250 [==============================] - 1s 3ms/step - loss: 49391.8594 - mae: 49391.8594 - val_loss: 50344.2422 - val_mae: 50344.2422
Epoch 71/100
250/250 [==============================] - 1s 2ms/step - loss: 49388.8633 - mae: 49388.8633 - val_loss: 50347.1836 - val_mae: 50347.1836
Epoch 72/100
250/250 [==============================] - 1s 3ms/step - loss: 49387.6719 - mae: 49387.6719 - val_loss: 50351.7031 - val_mae: 50351.7031
Epoch 73/100
250/250 [==============================] - 1s 2ms/step - loss: 49382.9141 - mae: 49382.9141 - val_loss: 50360.1875 - val_mae: 50360.1875
Epoch 74/100
250/250 [==============================] - 1s 3ms/step - loss: 49377.0391 - mae: 49377.0391 - val_loss: 50348.2539 - val_mae: 50348.2539

In [60]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [61]:
%tensorboard --log_dir regressionlogs/fit

ERROR: Could not find `tensorboard`. Please ensure that your PATH
contains an executable `tensorboard` program, or explicitly specify
the path to a TensorBoard binary by setting the `TENSORBOARD_BINARY`
environment variable.

In [62]:
# Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE:{test_mae}')

63/63 [==============================] - 0s 1ms/step - loss: 50339.8242 - mae: 50339.8242
Test MAE:50339.82421875

In [63]:
# Saving the model
model.save('regression_model.h5')

d:\DATA SCIENCE\GenAI\ANN Classification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(